@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button, input, select, option, textarea{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
img{
    max-width: 100%;
    display: block;
}
/* reset 끝 */


/* mobile */
.pc{display: none;}
#wrapper{
    position: relative;
    width: 100%;
    overflow: hidden; 
    /* 중요!! 
    /* overflow: hidden이 기본적으로 넘친 부분을 잘라내는 역할을 하지만, 
    특정 상황에서는 레이아웃이 다시 계산되면서 콘텐츠가 화면 크기에 맞게 적절히 배치되거나 
    정리될 수 있다. 이로 인해 nav가 화면 안에 맞게 차게 된 현상이 발생한 것. */
    
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
}
header h1{
    order: 2;
}
header h1 a{
    display: block;
}
header h1 a img{
    width: 60px;
    margin: 0 auto;
}
header .btn-menu{
    order: 1;
    width: 60px;            
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
header .btn-menu::before,
header .btn-menu span,
header .btn-menu::after{
    font-size: 0;
    content: '';
    display: block;
    height: 3px;
    width: 22px;
    background-color:rgb(150, 147, 147);
    border-radius: 2px;
}
header .util{
    order: 3;
    padding-right: 8px;
}
header .util span{
    font-size: 22px;
    color: rgb(88, 87, 87);
}
header .menubg{display: none;}
header nav{
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    z-index: 50;
    background-color: #ffffff;
}
header nav .top{
    height: 74px;
}
header nav .bottom img{
    width: 100px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
header nav .top .btn-cls{
    font-size: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
}
header nav .top .btn-cls::before{
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(128, 128, 128);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
header nav .top .btn-cls::after{
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(145, 145, 145);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
header nav > ul{
    width: 100%;
    text-align: left;
    font-family: 'pretendard';
}
header nav > ul > li{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
header nav > ul > li > a{
    font-size: 20px;
    font-weight: 700;
    display: block;
    color: #4d4b4b;
    padding: 16px;
}
header nav > ul > li:hover > a,
header nav > ul > li > a:focus{
    color: rgb(21, 161, 255);
}

header nav > ul .sub{
    display: none;
}
header nav > ul .sub li a{
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    color: #000000;
}
header nav ul .sub li a:hover,
header nav ul .sub li a:focus{
    color: rgb(6, 93, 255);
}
.slide{
    width: 100%;
    height: 500px;
    /* min-width: 500px; */
    overflow: hidden;
    position: relative;
}
.slide ul{
    width: 300%;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}
.slide ul li{ 
    width: 100%;
    height: 500px;
    position: relative;
}
.slide ul .s1{
    background-image: url(../images/slide1_m.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide ul .s2{
    background-image: url(../images/slide2_m.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide ul .s3{
    background-image: url(../images/slide3_m.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide ul li .text{
    position: absolute;
    bottom: 70px;
    left: 28px;
    color: #fff;
    font-family: 'pretendard';
    font-size: 30px;
    font-weight: bold;
}
.slide ul li .text .p1{
    padding-bottom: 1px;
}
.slide ul li button{
    position: absolute;
    bottom: 20px;
    left: 30px; 
    background-color: #ffffffc2;
    /* background: linear-gradient(to bottom, #ffffff, #cecccc); */
    font-family: 'Freesentation-9Black';
    font-size: 17px;
    font-weight: 300;
    color: rgb(90, 89, 89);
    /* border-radius: 20px; */
}
.slide ul .s1 button{
    padding: 8px 58px;
}
.slide ul .s2 button{
    padding: 8px 58px;
}
.slide ul .s3 button{
    padding: 8px 60px;
}
.slide .arrow-left{
    position: absolute;
    background-color: #00000000;
    top: 50%;
    left: 2%;
    transform: translate(-2%, -50%);
    z-index: 10;
}
.slide .arrow-right{
    position: absolute;
    background-color: #00000000;
    top: 50%;
    right: 2%;
    transform: translate(-2%, -50%);
    z-index: 10;
}
.slide .arrow img{
    width: 18px;
}
.contents{
    margin-top: 30px;
    margin: 0 auto;
}
.contents .con1{
    padding: 10px;
    margin: 0 auto;
}
.contents .con1 h2 a{
    display: block;
    padding: 30px 20px 10px;
    font-family: '나눔고딕';
    color: rgb(161, 131, 131);
    font-size: 20px;
    text-align: center;
}
.contents .con1 ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.contents .con1 ul li a{
    /* display: block; */
    font-family: 'pretendard';
    color: gray;
    padding: 10px;
    width: 100%;
}
.contents .con1 h2 a.pc{display: none;}
.contents .con1 ul li a .text{
    width: 100%;
}
.contents .con1 ul li a .p1{
    font-size: 16px;
    font-weight: 300;
}
.contents .con1 ul li a .p2{
    font-size: 12px;
    font-weight: 200;
    color: rgb(145, 118, 118);
}
.contents .con1 ul li a img{
    width: 600px;
}
.contents .con1 .btn-plus{
    width: 65px;
    height: 65px;
    margin: 50px auto;
    font-size: 0;
    display: block;
    border-radius: 50%;
    box-shadow: 2px 4px 6px #bebdbd; 
    background: linear-gradient(145deg, #ffffff, #cecccc ); /* 입체감을 강화하는 그림자*/
}
.contents .con1 .btn-plus::before{
    content: '';
    display: block;
    width: 28px;
    height: 4px;
    background-color: #ffffffb7;
    margin: 0 auto;
    transform: translateY(2px);
    border-radius: 10px;
}
.contents .con1 .btn-plus::after{
    content: '';
    display: block;
    width: 28px;
    height: 4px;
    background-color: #ffffffc4;
    margin: 0 auto;
    transform: translateY(-2px) rotate(90deg); /* y값 이동 먼저.*/
    border-radius: 10px;
}
.contents .con1 .btn-plus:hover{
    transform: translateY(-2px);
}

.contents .con2{
    width: 100vw;
    height: 300px;
    margin-top: 30px;
    position: relative;
    font-family: 'pretendard';
}
.contents .con2 .box{
    width: 100%;
    height: 300px;
    background-image: url(../images/staff_brewing0.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.contents .con2 .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.contents .con2 .text h2{
    font-size: 32px;
}
.contents .con2 .text p{
    font-size: 14px;
    padding: 10px;
    text-wrap: nowrap;
}
.contents .con2 button{
    font-family: 'pretendard';
    color: #2e2e2e;
    width: 110px;
    height: 36px;
    font-size: 16px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #ffffff, #d8d8d8); /*그라데이션 색 효과*/
    box-shadow: 0 4px 6px rgba(77, 76, 76, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
}
.contents .con2 button:hover{
    top: 59.5%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
}
.contents .con3{
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 80px;
    font-family: 'pretendard';
}
.contents .con3 h2{
    text-align: center;
}
.contents .con3 .box{
    padding: 20px;
}
.contents .con3 .box .text{
    text-align: center;
}
.contents .con3 .box .text .p1{
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #635757;
}
.contents .con3 .box .text .p2{
    font-size: 14px;
    color: #8a8989;
}
.contents .con3 .box1{
    margin-bottom: 20px;
}



footer{
    height: 500px;
    background-color: #424242;
    /* text-align: center; */
    color: #ffffff;
    font-family: 'pretendard';
    font-weight: lighter;
}
footer .logo{
    padding: 30px 0 15px;
}
footer .logo img{
    width: 240px;
    margin: 0 auto;
}
footer .sns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .sns li a{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .sns li a img{
    width: 10px;
}
footer .sns li:nth-child(1) a{
    background-color: rgb(128, 127, 127);
}
footer .sns li:nth-child(2) a{
    background-color: rgb(128, 127, 127);
}
footer .sns li:nth-child(3) a{
    background-color: rgb(128, 127, 127);
}
footer .sns li:nth-child(3) a img{
    width: 13px;
}
footer .text{
    padding: 20px;
}
footer .text p{
    padding-bottom: 20px;
    font-size: 15px;
    text-align: center;
}
footer .text ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer .text ul li{
    font-size: 13px;
    padding-bottom: 2px;
}
footer .text ul li:nth-child(1),
footer .text ul li:nth-child(3){
    /* text-align: end; */
}
footer .text ul li:nth-child(1)::after,
footer .text ul li:nth-child(3)::after{
    content: '|';
    padding: 8px;
    font-size: 12px;
    color: rgb(190, 188, 188);
}
footer .text ul li:nth-child(2),
footer .text ul li:nth-child(4){
}
footer .text ul li:nth-child(5),
footer .text ul li:nth-child(6){
    grid-column: 1 / span 2;
    text-align: center;
}


@media (min-width: 666px){ /* pc에서 창 켰을때 가장 작은 width,  (mobile + tablet)  */
    #wrapper{
        width: 100%;
    }
    header{
        height: 100px;
    }
    header h1 a img{
        width: 70px;
    }
    header .btn-menu::before,
    header .btn-menu span,
    header .btn-menu::after{
        font-size: 0;
        content: '';
        display: block;
        height: 4px;
        width: 25px;
        background-color:rgb(150, 147, 147);
        border-radius: 2px;
    }
    header nav .top{
        height: 100px;
    }
    header nav .top .btn-cls{
        width: 70px;
        height: 70px;
        top: 14px;
    }
    header nav .top .btn-cls::before,
    header nav .top .btn-cls::after{
        width: 40px;
    }
    header nav > ul > li > a{
        font-size: 36px;
    }
    header nav ul .sub li a{
        font-size: 22px;
        padding: 24px;
    }
    header nav .bottom img{
        width: 120px;
        right: -20px;
    }
    header .util span{
        font-size: 28px;
    }
    .slide{
        height: 800px;
    }
    .slide ul{
        height: 800px;
    }
    .slide ul li{
        height: 800px;
    }
    .contents .con1 h2 a{
        font-size: 26px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .contents .con1 ul li a .p1{
        font-size: 20px;
    }
    .contents .con1 ul li a .p2{
        font-size: 15px;
    }
    .contents .con2{
        height: 600px;
        background-color: pink;
    }
    .contents .con2{
        height: 400px;
    }
    .contents .con2 .box{
        height: 400px;
    }
    .contents .con2 .text h2{
        font-size: 50px;
    }
    .contents .con2 .text p{
        font-size: 24px;
        padding-top: 4px;
    }
    .contents .con2 button{
        font-size: 20px;
        width: 220px;
        height: 70px;
        border-radius: 50px;
        font-size: 24px;
        margin-top: 20px;
    }
    
}


@media (min-width: 1200px){  /* pc */
    .pc{display: block;}
    .m{display: none;}
    header{
        max-width: 1500px;
        margin: 0 auto;
        height: 80px;
    }
    header h1{
        order: 1;
    }
    header h1 a img{
        width: 220px;
    }
    header .util{
        order: 3;
        padding: 10px;
    }
    header .util span{
        font-size: 24px;
        color: rgb(109, 104, 103);
        font-weight: 300;
        padding-left: 5px;
    }
    header .btn-menu{display: none;}
    header nav .top{display: none;}
    header nav .top img{display: none;}
    header nav .top .btn-cls{display: none;}
    header nav{
        position: absolute;
        top: 0;
        left: 300px;
        width: unset;
        height: unset;
        background-color: unset;
        transition: unset;
        z-index: 50;
    }
    header nav .top{
        height: unset;
    }
    header nav > ul{
        display: flex;
        padding: 0;
        text-align: center;
        background-image: unset;
    }
    header nav > ul > li > a{
        font-size: 15px;
        font-weight: 400;
        display: block;   
        width: 170px;
        height: 80px;
        padding-left: unset;    
        margin: unset;
        margin-top: unset;
        border-left: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
        text-align: center;
    }
    header nav > ul > li:hover > a,
    header nav > ul > li > a:focus{
        color: rgb(31, 142, 216);
    }
    header nav > ul .sub{
        position: absolute;
        width: 170px;
        height: 260px;
        display: none;
        color: #000000;
    }
    header nav > ul .sub li{
        display: block;
    }
    header nav ul .sub li a{
        display: block;
        font-size: 14px;
        overflow: visible;
    }
    header nav ul .sub li a:hover,
    header nav ul .sub li a:focus{
        color: rgb(6, 120, 228);
    }
    header nav .bottom img{
        display: none;
    }
    .menubg{
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        background-color: #ffffffd0;
        width: 100vw;
        height: 270px;
        z-index: 40;
        display: none;
        box-sizing: border-box;
    }
    .slide{
        height: 600px;
        margin: 0 auto;
    }
    .slide ul{
        height: 600px;
    }
    .slide ul li{
        height: 600px;
    }
   .slide ul .s1{
        background-image: url(../images/slide1_pc.jpg);
   }
   .slide ul .s2{
        background-image: url(../images/slide2_pc.png);
   }
   .slide ul .s3{
        background-image: url(../images/slide3_pc.jpg);
        background-position: bottom 100px;
   }
   .slide ul li .text{
        bottom: 280px;
        left: 18%;
        font-weight: 600;
   }
   .slide ul li .text .p1{
        font-size: 44px;
   }
   .slide ul li .text .p2{
        font-size: 30px;
   }
   .slide ul li button{
        bottom: 224px;
        left: 18%; 
        color: #ffffff;
        font-family: 'pretendard';
        font-size: 13px;
        font-weight: 500;
        border-radius: 50px;
        height: 38px;
        background: unset;
        background-color: #252525c0;

   }
   .slide ul .s1 button{
        padding: 12px 32px;
   }
   .slide ul .s2 button{
        padding: 12px 32px;
   }
   .slide ul .s3 button{
        padding: 12px 32px;
   }
   .slide .arrow-left{
        position: absolute;
        background-color: #00000000;
        top: 50%;
        left: 12%;
        transform: translate(-10%, -50%);
        z-index: 10;
    }
    .slide .arrow-right{
        position: absolute;
        background-color: #00000000;
        top: 50%;
        right: 12%;
        transform: translate(-10%, -50%);
        z-index: 10;
    }
    .slide .arrow img{
        width: 18px;
    }
    .contents{
        margin: 0 auto;
        padding-top: 80px;
    }
    .contents .con1{
        width: 100%;
        max-width: 1500px;
        position: relative;
    }
    .contents .con1 h2{
        display: flex;
        align-items: center;
    }
    .contents .con1 h2 a{
        text-align: left;
    }
    .contents .con1 h2 a:nth-child(1){
        border-radius: 20px 20px 0 0;
        padding: 0;
        background-color: rgba(73, 64, 64, 0.842);
        color: #ffffff;
        font-size: 18px;
        width: 200px;
        height: 50px;
        display: flex; /* 가운데로 정렬 */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contents .con1 h2 a.pc{
        display: block;
        width: calc(100% - 200px);
        font-size: 15px;
        font-family: 'pretendard';
        font-weight: lighter;
        color: rgb(153, 145, 145);
        border-bottom: 1px solid rgb(148, 153, 156);
        padding: 22px 20px 8px;
    }
    .contents .con1 .more{   /* 전체보기 버튼*/
        position: absolute;
        display: block;
        right: 18px;
        top: 35px;
        color: rgb(148, 153, 156);
        font-family: 'pretendard';
        font-size: 14px;
    }
    .contents .con1 ul{
        padding: 50px 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
    .contents .con1 ul li a{
        border-radius: 10%;
        margin: 20px;
        margin-bottom: 0;
        margin-top: 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px 15px #b6b6b6;
        display: block;
        width: 300px;
        padding: 0;
    }
    .contents .con1 ul li a .text{
        padding: 50px;
    }
    .contents .con1 ul li a .text .p1{
        font-size: 18px;
    }
    .contents .con1 ul li a .text .p2{
        font-size: 13px;
        padding-top: 5px;
        color: #b6b6b6;
    }
    .contents .con1 ul li a .photo{
        width: 300px;
        height: 280px;
        overflow: hidden;
    }
    .contents .con1 ul li a .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10% 10% 0 0;
        background-color: #f8f8f1;
    }
    .contents .con1 .btn-plus{display: none;} /* 모바일 버전 더보기 플러스 버튼*/
    .contents .con2{
        height: 500px;
    }
    .contents .con2 .box{
        height: 100%;
        background-image: url(../images/staff_clap.jpg);
        background-position: center;
    }
    .contents .con2 .text{
        top: 45%;
    }
    .contents .con2 .text h2{
        font-size: 58px;
        font-family: 'pretendard';
    }
    .contents .con2 .text p{
        font-size: 20px;
        padding: 10px 0;
        font-family: 'pretendard';
    }
    .contents .con2 button{
        width: 140px;
        height: 44px;
        font-size: 15px;
        margin-top: 15px;
    }
    .contents .con3{
        position: relative;
        padding-bottom: 50px;
    }
    .contents .con3 h2{
        position: relative;
        margin-bottom: 20px;
    }
    .contents .con3 h2 a:nth-child(1){
        padding-bottom: 10px;
        display: block;
        font-size: 25px;
        color: #796a6a;
        text-align: left;
        padding-left: 20px;
        border-radius: 20px 20px 0 0;
        padding: 0;
        background-color: rgba(73, 64, 64, 0.842);
        color: #ffffff;
        font-size: 18px;
        width: 200px;
        height: 50px;
        display: flex; /* 가운데로 정렬 */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contents .con3 h2::after{
        content: '';
        display: block;
        width: calc(100% - 200px);
        border-bottom: 1px solid rgb(148, 153, 156);
        padding: 22px 20px 8px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .contents .con3 .more{   /* 전체보기 버튼*/
        position: absolute;
        display: block;
        right: 18px;
        top: 28px;
        color: rgb(148, 153, 156);
        font-family: 'pretendard';
        font-size: 14px;
    }
    .contents .con3 .box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .contents .con3 .box .text .p1{
        font-size: 28px;
        font-weight: 500;
        color: #4d4b4b;
    }
    .contents .con3 .box .text .p2{
        font-size: 16px;
        color: #8a8989;
    }
    .contents .con3 .box1{
        margin-bottom: 0;
    }
    .contents .con3 .box2 .photo{
        order: 2;
    }
    .contents .con3 .box2 .text{
        order: 1;
    }

}
